.nav-link {
  color: black;
  font-weight: bold;
}

.dropdown-item {
  color: inherit;
  font-weight: bold;
}

.dropdown-item.active {
  color: orangered;
  background-color: transparent;
}

.dropdown-item:hover {
  color: orangered;
}

.nav-link.active {
  color: orangered;
}

.nav-link:hover {
  color: orangered;
}

.nav-home:active {
  color: orangered !important;
}

.nav-home:hover {
  color: orangered !important;
}

.profile-picture {
  border-radius: 50%;
  width: 50px;
  background-color: rgba(128, 128, 128, 0.212);
}